<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="footer">
		<!-- FOOTER -->
		<footer class="text-center text-lg-start bg-light text-muted">
			<section class="">
				<div class="container-fluid text-justify text-md-start mt-5">
					<div class="row mt-3">
						<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
							<p th:text="#{foot.foot1}"
								style="text-indent: 30px; text-align: justify; margin-top: 37px; font-size: 17px;">
								</p>
						</div>

						<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
							<h4 th:text="#{foot.footTitle2}" class="text-uppercase fw-bold mb-4">CỬA HÀNG TẠI HÀ NỘI</h4>
							<p th:text="#{foot.foot2Sub1}" class="fs-17">187 Phố Vọng, Hai Bà Trưng, Hà Nội.</p>
							<p th:text="#{foot.foot2Sub2}" class="fs-17">187 Phố Vọng-Quân Hai Bà Trưng-Hà Nội.</p>
							<p th:text="#{foot.foot2Sub3}" class="fs-17">82 Cầu Giấy, Quan Hoa, Cầu Giấy.</p>
						</div>

						<div  class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
							<h4 th:text="#{foot.footTitle3}" class="text-uppercase fw-bold mb-4">CỬA HÀNG TẠI TP.HCM</h4>
							<p th:text="#{foot.foot3Sub1}" class="fs-17">497 Hoàng Văn Thụ, Phường 4, Q. Tân Bình,
								TP.HCM.</p>
							<p th:text="#{foot.foot3Sub2}" class="fs-17">676 Lê Trọng Tấn, P. Bình Hưng Hòa, Q. Bình
								Tân, HCM.</p>
							<p th:text="#{foot.foot3Sub3}" class="fs-17">20 đường 3 tháng 2, Phường 12, Quận 10,
								TPHCM.</p>
						</div>

						<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
							<h4 th:text="#{foot.footTitle4}" class="text-uppercase fw-bold mb-4">LIÊN LẠC</h4>
							<p th:text="#{foot.foot4Sub1}" class="fs-17">CONVERSEvietnam.net@gmail.com</p>
							<p th:text="#{foot.foot4Sub2}" class="fs-17">0105517236</p>
						</div>
					</div>
				</div>
			</section>

			<div class="text-center p-4 fs-17"
				style="background-color: rgba(0, 0, 0, 0.05)">
				© 2023 Copyright: <a class="text-reset fw-bold"
					href="https://conversestore.vn/">Converse.Store_</a>
			</div>
		</footer>
		

	</div>
</body>
</html>