<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="user_menu">
		<!-- header start -->
		<div id="header">
			<div class="menu">
				<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
					<div class="container-fluid">
						<a class="navbar-brand" th:href="@{/trangchu}"><img
							src="/assets/images/logo.png" alt="logo"></a>
						<button class="navbar-toggler" type="button"
							data-bs-toggle="collapse" data-bs-target="#mynavbar">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="mynavbar">
							<ul class="navbar-nav mx-auto">
								<li class="nav-item"><a class="nav-link nav-link-custom"
									th:href="@{/trangchu}" th:text="#{nav.home}">TRANG CHỦ</a></li>
								<li class="nav-item"><a class="nav-link nav-link-custom"
									th:href="@{/sanpham}" th:text="#{nav.product}">SẢN PHẨM</a></li>
								<li class="nav-item"><a class="nav-link nav-link-custom"
									th:href="@{/gioithieu}" th:text="#{nav.about}">THÔNG TIN</a></li>
								<li class="nav-item"><a class="nav-link nav-link-custom"
									th:href="@{/cart}" th:text="#{nav.cart}">GIỎ HÀNG</a></li>
								<li class="nav-item dropdown"><a
									class="nav-link nav-link-custom dropdown-toggle" href="#"
									role="button" data-bs-toggle="dropdown"
									th:text="#{nav.language}">Ngôn ngữ</a>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" href="?lang=vi"
											th:text="#{nav.vi}">Tiếng Việt</a></li>
										<li><a class="dropdown-item" href="?lang=en"
											th:text="#{nav.en}">English</a></li>
									</ul></li>
								<li class="nav-item dropdown">
									<div th:if="${user == null}">
										<a class="nav-link nav-link-custom dropdown-toggle" href="#"
											role="button" data-bs-toggle="dropdown"
											th:text="#{nav.account}">TÀI KHOẢN</a>
									</div>
									<div th:if="${user != null}">
										<a class="nav-link nav-link-custom dropdown-toggle" href="#"
											role="button" data-bs-toggle="dropdown"
											th:text="${user.hoten}"></a>
									</div>
									<ul class="dropdown-menu">
										<li><a class="dropdown-item" th:href="@{/dangnhap}"
											th:text="#{nav.login}">ĐĂNG NHẬP</a></li>
										<li><a class="dropdown-item" th:href="@{/dangky}"
											th:text="#{nav.signup}">ĐĂNG KÝ</a></li>
										<li><a class="dropdown-item" th:href="@{/doimatkhau}"
											th:text="#{nav.changepass}">ĐỔI MẬT KHẨU</a></li>
										<li><a class="dropdown-item" th:href="@{/quenmatkhau}"
											th:text="#{nav.forgotpass}">QUÊN MẬT KHẨU</a></li>
										<li><a class="dropdown-item"
											th:href="@{/thaydoithongtin}" th:text="#{nav.infor}">THÔNG
												TIN CÁ NHÂN</a></li>
										<li><a class="dropdown-item"
											th:href="@{/danhsachdonhang}" th:text="#{nav.order}">ĐƠN
												HÀNG</a></li>
										<li><a class="dropdown-item" th:href="@{/auth/logoff}"
											th:text="#{nav.logout}">ĐĂNG XUẤT</a></li>
									</ul>
								</li>
							</ul>
							<!-- 							Tìm kiếm bắt đầu -->
							<div class="p-3">
								<a href="#" class="icon position-relative fs-4"
									data-bs-toggle="offcanvas" data-bs-target="#demo"> <i
									class="ti-search"></i>
								</a>
							</div>
							<div class="offcanvas offcanvas-bottom" id="demo">
								<div class="offcanvas-header">
									<h1 class="offcanvas-title" style="margin-left: 43%;">Tìm
										kiếm</h1>
									<button type="button" class="btn-close"
										data-bs-dismiss="offcanvas"></button>
								</div>
								<div class="offcanvas-body">
									<form action="/search" method="get">
										<div class="container input-group mb-3">
											<input type="text" class="form-control" name="keyword"
												placeholder="Bạn muốn tìm gì?">
											<button class="btn btn-success" type="submit">OK</button>

										</div>
									</form>
								</div>
							</div>
							<!--                         tìm kiếm kết thúc -->
							<div class="p-3">
								<a th:href="@{/yeuthich}" class="icon position-relative fs-4">
									<button class="badge badge-secondary">
										<i class="ti-heart" style="color: black"></i> <span
											id="notificationBadge" class="badge badge-dark"
											style="color: black">{{ favoriteCount }}</span>
									</button>
								</a>
							</div>
						</div>
					</div>
				</nav>
			</div>
			<div class="menu-header">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-4 menu-item">
							<h6 th:text="#{nav.nav1}">HÀNG CÓ SẴN CHÍNH HÃNG</h6>
						</div>
						<div class="col-md-4 menu-item">
							<h6 th:text="#{nav.nav2}">ĐỔI TRẢ LINH HOẠT</h6>
						</div>
						<div class="col-md-4 menu-item">
							<h6 th:text="#{nav.nav3}">SHIP HÀNG TOÀN QUỐC</h6>
						</div>
					</div>
				</div>
			</div>

			<marquee class="marquee-test" width="100%" scrollamount="20"
				direction="left" height="auto" onmouseover="this.stop()"
				onmouseout="this.start()" th:text="#{nav.nav4}"> </marquee>
		</div>
		<!-- header end -->
	</div>
</body>
</html>