USE [master]
GO
/****** Object:  Database [conversejava6]    Script Date: 04/08/2023 10:35:10 SA ******/
CREATE DATABASE [conversejava6]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [conversejava6].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [conversejava6]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 04/08/2023 10:35:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[brand_id] [bigint] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](50) NOT NULL,
	[brand_image] [nvarchar](50) NOT NULL,
	[brand_activities] [bit] NOT NULL,
 CONSTRAINT [PK__brands__5E5A8E2787DDC599] PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_items]    Script Date: 04/08/2023 10:35:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_items](
	[cart_item_id] [bigint] IDENTITY(1,1) NOT NULL,
	[cart_id] [bigint] NULL,
	[variant_id] [bigint] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 04/08/2023 10:35:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[cart_id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 04/08/2023 10:35:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [bigint] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](50) NOT NULL,
	[category_image] [nvarchar](50) NOT NULL,
	[category_activities] [bit] NOT NULL,
 CONSTRAINT [PK__categori__D54EE9B4A5B8840A] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[colors]    Script Date: 04/08/2023 10:35:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[colors](
	[color_id] [bigint] IDENTITY(1,1) NOT NULL,
	[color_name] [nvarchar](50) NOT NULL,
	[color_activities] [bit] NOT NULL,
 CONSTRAINT [PK__colors__1143CECBDD7A1E32] PRIMARY KEY CLUSTERED 
(
	[color_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 04/08/2023 10:35:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[comment_id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NULL,
	[customer_id] [bigint] NULL,
	[employee_id] [bigint] NULL,
	[comment] [nvarchar](255) NOT NULL,
	[create_date] [date] NOT NULL,
	[status] [bit] NULL,
	[admin_reply] [nvarchar](255) NULL,
	[date_reply] [date] NULL,
	[hidden] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 04/08/2023 10:35:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_name] [nvarchar](255) NULL,
	[customer_address] [nvarchar](255) NULL,
	[customer_phone] [varchar](20) NULL,
	[customer_year] [int] NULL,
	[customer_month] [int] NULL,
	[customer_day] [int] NULL,
	[customer_email] [nvarchar](255) NULL,
	[customer_password] [nvarchar](255) NULL,
	[customer_image] [nvarchar](255) NULL,
	[customer_status] [bit] NULL,
	[last_login] [datetime] NULL,
	[date_created] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 04/08/2023 10:35:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[employee_id] [bigint] IDENTITY(1,1) NOT NULL,
	[employee_name] [nvarchar](255) NULL,
	[employee_address] [nvarchar](255) NULL,
	[employee_phone] [varchar](20) NULL,
	[employee_year] [int] NULL,
	[employee_month] [int] NULL,
	[employee_day] [int] NULL,
	[employee_role] [bit] NULL,
	[employee_email] [nvarchar](255) NULL,
	[employee_password] [nvarchar](255) NULL,
	[employee_image] [nvarchar](255) NULL,
	[employee_status] [bit] NULL,
	[last_login] [datetime] NULL,
	[date_created] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[favorites]    Script Date: 04/08/2023 10:35:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[favorites](
	[favorite_id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NULL,
	[product_id] [bigint] NULL,
	[date_like] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[favorite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderdetails]    Script Date: 04/08/2023 10:35:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderdetails](
	[orderdetail_id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NULL,
	[variant_id] [bigint] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[orderdetail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 04/08/2023 10:35:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [bigint] IDENTITY(1,1) NOT NULL,
	[receiver_id] [bigint] NULL,
	[orderdate] [datetime] NULL,
	[total] [float] NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_variants]    Script Date: 04/08/2023 10:35:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_variants](
	[variant_id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[size_id] [bigint] NOT NULL,
	[color_id] [bigint] NOT NULL,
	[quantity] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 04/08/2023 10:35:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [bigint] IDENTITY(1,1) NOT NULL,
	[product_name] [nvarchar](100) NOT NULL,
	[category_id] [bigint] NOT NULL,
	[brand_id] [bigint] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[product_image1] [nvarchar](50) NOT NULL,
	[product_image2] [nvarchar](50) NOT NULL,
	[product_image3] [nvarchar](50) NOT NULL,
	[product_type] [bit] NOT NULL,
	[product_activities] [bit] NOT NULL,
	[create_date] [datetime] NULL,
	[product_description] [nvarchar](255) NULL,
 CONSTRAINT [PK__products__47027DF5D20C3D22] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotions]    Script Date: 04/08/2023 10:35:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotions](
	[promotion_id] [bigint] IDENTITY(1,1) NOT NULL,
	[promotion_name] [nvarchar](100) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[statuss] [nvarchar](50) NULL,
	[discount] [float] NULL,
	[describe] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotions_products]    Script Date: 04/08/2023 10:35:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotions_products](
	[promotion_product_id] [bigint] IDENTITY(1,1) NOT NULL,
	[promotion_id] [bigint] NULL,
	[product_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[promotion_product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[receivers]    Script Date: 04/08/2023 10:35:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[receivers](
	[receiver_id] [bigint] IDENTITY(1,1) NOT NULL,
	[customer_id] [bigint] NULL,
	[fullname] [nvarchar](255) NULL,
	[phone] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[receiver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sizes]    Script Date: 04/08/2023 10:35:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sizes](
	[size_id] [bigint] IDENTITY(1,1) NOT NULL,
	[size_number] [float] NOT NULL,
	[size_activities] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[size_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[supplier_products]    Script Date: 04/08/2023 10:35:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplier_products](
	[supplier_product_id] [bigint] IDENTITY(1,1) NOT NULL,
	[supplier_id] [bigint] NULL,
	[product_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 04/08/2023 10:35:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[supplier_id] [bigint] IDENTITY(1,1) NOT NULL,
	[supplier_name] [nvarchar](100) NULL,
	[addresss] [nvarchar](100) NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[statuss] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[brands] ON 

INSERT [dbo].[brands] ([brand_id], [brand_name], [brand_image], [brand_activities]) VALUES (1, N'Converse', N'3294d63f.png', 1)
INSERT [dbo].[brands] ([brand_id], [brand_name], [brand_image], [brand_activities]) VALUES (2, N'Nike', N'b66762fa.png', 0)
INSERT [dbo].[brands] ([brand_id], [brand_name], [brand_image], [brand_activities]) VALUES (3, N'Puma', N'7315656b.jpg', 1)
SET IDENTITY_INSERT [dbo].[brands] OFF
GO
SET IDENTITY_INSERT [dbo].[carts] ON 

INSERT [dbo].[carts] ([cart_id], [customer_id]) VALUES (1, 1)
INSERT [dbo].[carts] ([cart_id], [customer_id]) VALUES (2, 2)
INSERT [dbo].[carts] ([cart_id], [customer_id]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[carts] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [category_name], [category_image], [category_activities]) VALUES (1, N'Giày nam', N'f62a6d0f.jpg', 1)
INSERT [dbo].[categories] ([category_id], [category_name], [category_image], [category_activities]) VALUES (2, N'Giày nữ', N'337baa95.jpg', 0)
INSERT [dbo].[categories] ([category_id], [category_name], [category_image], [category_activities]) VALUES (3, N'Giày thể thao', N'92e775d.jpg', 1)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[colors] ON 

INSERT [dbo].[colors] ([color_id], [color_name], [color_activities]) VALUES (1, N'Ðen', 1)
INSERT [dbo].[colors] ([color_id], [color_name], [color_activities]) VALUES (2, N'Xanh lam', 0)
INSERT [dbo].[colors] ([color_id], [color_name], [color_activities]) VALUES (3, N'Xanh lá', 1)
SET IDENTITY_INSERT [dbo].[colors] OFF
GO
SET IDENTITY_INSERT [dbo].[comments] ON 

INSERT [dbo].[comments] ([comment_id], [product_id], [customer_id], [employee_id], [comment], [create_date], [status], [admin_reply], [date_reply], [hidden]) VALUES (1, 1, 2, NULL, N'Sản phẩm đẹp quá', CAST(N'2022-12-23' AS Date), 0, NULL, NULL, 1)
INSERT [dbo].[comments] ([comment_id], [product_id], [customer_id], [employee_id], [comment], [create_date], [status], [admin_reply], [date_reply], [hidden]) VALUES (2, 2, 1, 1, N'Sản phẩm chất lượng', CAST(N'2022-12-25' AS Date), 1, N'Cảm ơn bạn', CAST(N'2023-12-26' AS Date), 1)
INSERT [dbo].[comments] ([comment_id], [product_id], [customer_id], [employee_id], [comment], [create_date], [status], [admin_reply], [date_reply], [hidden]) VALUES (3, 3, 3, 2, N'Phí giao bao nhiêu vậy shop', CAST(N'2022-12-16' AS Date), 1, N'Phí sẽ dựa vào khu vực mà phí sẽ khác nhau nha bạn', CAST(N'2023-12-26' AS Date), 1)
SET IDENTITY_INSERT [dbo].[comments] OFF
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([customer_id], [customer_name], [customer_address], [customer_phone], [customer_year], [customer_month], [customer_day], [customer_email], [customer_password], [customer_image], [customer_status], [last_login], [date_created]) VALUES (1, N'Sophia Turner', N'888 Oakwood Street, City K', N'7776665555', 1993, 9, 3, N'sophia.turner@gmail.com', N'password123', N'profile11.jpg', 1, CAST(N'2023-07-01T11:30:00.000' AS DateTime), CAST(N'2023-07-01T11:30:00.000' AS DateTime))
INSERT [dbo].[customers] ([customer_id], [customer_name], [customer_address], [customer_phone], [customer_year], [customer_month], [customer_day], [customer_email], [customer_password], [customer_image], [customer_status], [last_login], [date_created]) VALUES (2, N'James Wilson', N'999 Maplewood Street, City L', N'2223334444', 1986, 1, 22, N'james.wilson@gmail.com', N'password456', N'profile12.jpg', 0, CAST(N'2023-06-30T19:45:00.000' AS DateTime), CAST(N'2023-06-30T19:45:00.000' AS DateTime))
INSERT [dbo].[customers] ([customer_id], [customer_name], [customer_address], [customer_phone], [customer_year], [customer_month], [customer_day], [customer_email], [customer_password], [customer_image], [customer_status], [last_login], [date_created]) VALUES (3, N'Ava Martin', N'111 Elmwood Street, City M', N'5557778888', 1997, 11, 9, N'ava.martin@gmail.com', N'password789', N'profile13.jpg', 1, CAST(N'2023-06-29T08:00:00.000' AS DateTime), CAST(N'2023-06-29T08:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[employees] ON 

INSERT [dbo].[employees] ([employee_id], [employee_name], [employee_address], [employee_phone], [employee_year], [employee_month], [employee_day], [employee_role], [employee_email], [employee_password], [employee_image], [employee_status], [last_login], [date_created]) VALUES (1, N'John Smith', N'123 Main Street, City A', N'1234567890', 1985, 7, 15, 1, N'john.smith@gmail.com', N'password123', N'profile1.jpg', 1, CAST(N'2023-07-11T10:30:00.000' AS DateTime), CAST(N'2023-07-11T10:30:00.000' AS DateTime))
INSERT [dbo].[employees] ([employee_id], [employee_name], [employee_address], [employee_phone], [employee_year], [employee_month], [employee_day], [employee_role], [employee_email], [employee_password], [employee_image], [employee_status], [last_login], [date_created]) VALUES (2, N'Alice Johnson', N'456 Elm Street, City B', N'0987654321', 1990, 5, 20, 0, N'alice.johnson@gmail.com', N'password456', N'profile2.jpg', 1, CAST(N'2023-07-10T14:45:00.000' AS DateTime), CAST(N'2023-07-10T14:45:00.000' AS DateTime))
INSERT [dbo].[employees] ([employee_id], [employee_name], [employee_address], [employee_phone], [employee_year], [employee_month], [employee_day], [employee_role], [employee_email], [employee_password], [employee_image], [employee_status], [last_login], [date_created]) VALUES (3, N'Bob Williams', N'789 Oak Street, City C', N'1112223333', 1988, 11, 5, 1, N'bob.williams@gmail.com', N'password789', N'profile3.jpg', 0, CAST(N'2023-07-09T21:15:00.000' AS DateTime), CAST(N'2023-07-09T21:15:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[employees] OFF
GO
SET IDENTITY_INSERT [dbo].[favorites] ON 

INSERT [dbo].[favorites] ([favorite_id], [customer_id], [product_id], [date_like]) VALUES (1, 1, 1, CAST(N'2023-07-19T00:00:00.000' AS DateTime))
INSERT [dbo].[favorites] ([favorite_id], [customer_id], [product_id], [date_like]) VALUES (2, 1, 2, CAST(N'2023-07-18T00:00:00.000' AS DateTime))
INSERT [dbo].[favorites] ([favorite_id], [customer_id], [product_id], [date_like]) VALUES (3, 2, 1, CAST(N'2023-06-20T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[favorites] OFF
GO
SET IDENTITY_INSERT [dbo].[orderdetails] ON 

INSERT [dbo].[orderdetails] ([orderdetail_id], [order_id], [variant_id], [quantity]) VALUES (1, 1, 1, 1)
INSERT [dbo].[orderdetails] ([orderdetail_id], [order_id], [variant_id], [quantity]) VALUES (2, 2, 26, 1)
INSERT [dbo].[orderdetails] ([orderdetail_id], [order_id], [variant_id], [quantity]) VALUES (3, 3, 3, 1)
SET IDENTITY_INSERT [dbo].[orderdetails] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_id], [receiver_id], [orderdate], [total], [status]) VALUES (1, 1, CAST(N'2023-07-06T09:45:00.000' AS DateTime), 500, N'Đã Giao')
INSERT [dbo].[orders] ([order_id], [receiver_id], [orderdate], [total], [status]) VALUES (2, 2, CAST(N'2023-07-06T09:45:00.000' AS DateTime), 750.99, N'Đã Giao')
INSERT [dbo].[orders] ([order_id], [receiver_id], [orderdate], [total], [status]) VALUES (3, 3, CAST(N'2023-07-06T09:45:00.000' AS DateTime), 500, N'Đã Giao')
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[product_variants] ON 

INSERT [dbo].[product_variants] ([variant_id], [product_id], [size_id], [color_id], [quantity]) VALUES (1, 1, 3, 1, 50)
INSERT [dbo].[product_variants] ([variant_id], [product_id], [size_id], [color_id], [quantity]) VALUES (2, 1, 1, 2, 50)
INSERT [dbo].[product_variants] ([variant_id], [product_id], [size_id], [color_id], [quantity]) VALUES (3, 1, 1, 3, 50)
GO
SET IDENTITY_INSERT [dbo].[product_variants] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([product_id], [product_name], [category_id], [brand_id], [price], [product_image1], [product_image2], [product_image3], [product_type], [product_activities], [create_date], [product_description]) VALUES (1, N'Converse 01', 1, 1, CAST(500.00 AS Decimal(10, 2)), N'anh1-1.png', N'anh1-2.jpg', N'475e2643.jpg', 1, 1, CAST(N'2022-07-12T00:00:00.000' AS DateTime), N'Converse Renew Canvas, phiên bản giới hạn mang mục đích bảo vệ môi trường sẽ được chính thức mở bán tại hệ thống Converse VN từ ngày 5/7 với số lượng giới hạn.')
INSERT [dbo].[products] ([product_id], [product_name], [category_id], [brand_id], [price], [product_image1], [product_image2], [product_image3], [product_type], [product_activities], [create_date], [product_description]) VALUES (2, N'Converse 02', 2, 1, CAST(750.99 AS Decimal(10, 2)), N'anh2-1.png', N'anh2-2.jpg', N'anh2-3.jpg', 1, 1, CAST(N'2021-08-21T00:00:00.000' AS DateTime), N'huyền thoại hợp thời trang khiến đôi VANS này thật sự trở thành mẫu giày classic bất bại, là fan hâm mộ của VANS nói chung và những skaters nói riêng')
INSERT [dbo].[products] ([product_id], [product_name], [category_id], [brand_id], [price], [product_image1], [product_image2], [product_image3], [product_type], [product_activities], [create_date], [product_description]) VALUES (3, N'Converse 03', 3, 1, CAST(1200.50 AS Decimal(10, 2)), N'anh3-1.png', N'anh3-2.jpg', N'anh3-3.jpg', 1, 0, CAST(N'2020-05-24T00:00:00.000' AS DateTime), N'huyền thoại hợp thời trang khiến đôi VANS này thật sự trở thành mẫu giày classic bất bại, là fan hâm mộ của VANS nói chung và những skaters nói riêng')
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[promotions] ON 

INSERT [dbo].[promotions] ([promotion_id], [promotion_name], [start_date], [end_date], [statuss], [discount], [describe]) VALUES (1, N'Tháng Yêu Thương - Bao La Khuyến Mãi', CAST(N'2023-07-17' AS Date), CAST(N'2023-08-01' AS Date), N'Đang diễn ra', 20, N'Chương trình khuyến mãi dành cho quý khi mua giày tại của hàng giày')
INSERT [dbo].[promotions] ([promotion_id], [promotion_name], [start_date], [end_date], [statuss], [discount], [describe]) VALUES (2, N'Bóc Thăm Trúng Thưởng', CAST(N'2023-07-18' AS Date), CAST(N'2023-08-10' AS Date), N'Đang diễn ra', 25, N'Chương trình khuyến mãi dành cho quý khi mua giày tại của hàng giày')
INSERT [dbo].[promotions] ([promotion_id], [promotion_name], [start_date], [end_date], [statuss], [discount], [describe]) VALUES (3, N'Ngày Vàng Thứ Hai', CAST(N'2023-07-10' AS Date), CAST(N'2023-07-17' AS Date), N'Đã kết thúc', 10, N'Chương trình khuyến mãi dành cho quý khi mua giày tại của hàng giày')
SET IDENTITY_INSERT [dbo].[promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[promotions_products] ON 

INSERT [dbo].[promotions_products] ([promotion_product_id], [promotion_id], [product_id]) VALUES (1, 1, 1)
INSERT [dbo].[promotions_products] ([promotion_product_id], [promotion_id], [product_id]) VALUES (2, 2, 2)
INSERT [dbo].[promotions_products] ([promotion_product_id], [promotion_id], [product_id]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[promotions_products] OFF
GO
SET IDENTITY_INSERT [dbo].[receivers] ON 

INSERT [dbo].[receivers] ([receiver_id], [customer_id], [fullname], [phone], [address]) VALUES (1, 1, N'Jonathan', N'7778889999', N'12 Bloom Street, New York')
INSERT [dbo].[receivers] ([receiver_id], [customer_id], [fullname], [phone], [address]) VALUES (2, 2, N'Jonh With', N'7778673999', N'555 Will Street, City N')
INSERT [dbo].[receivers] ([receiver_id], [customer_id], [fullname], [phone], [address]) VALUES (3, 3, N'Barbara', N'4325489999', N'72 SuW Street, City H')
SET IDENTITY_INSERT [dbo].[receivers] OFF
GO
SET IDENTITY_INSERT [dbo].[sizes] ON 

INSERT [dbo].[sizes] ([size_id], [size_number], [size_activities]) VALUES (1, 38.5, 1)
INSERT [dbo].[sizes] ([size_id], [size_number], [size_activities]) VALUES (2, 39.5, 1)
INSERT [dbo].[sizes] ([size_id], [size_number], [size_activities]) VALUES (3, 40, 0)
SET IDENTITY_INSERT [dbo].[sizes] OFF
GO
SET IDENTITY_INSERT [dbo].[supplier_products] ON 

INSERT [dbo].[supplier_products] ([supplier_product_id], [supplier_id], [product_id]) VALUES (1, 1, 2)
INSERT [dbo].[supplier_products] ([supplier_product_id], [supplier_id], [product_id]) VALUES (2, 2, 2)
INSERT [dbo].[supplier_products] ([supplier_product_id], [supplier_id], [product_id]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[supplier_products] OFF
GO
SET IDENTITY_INSERT [dbo].[suppliers] ON 

INSERT [dbo].[suppliers] ([supplier_id], [supplier_name], [addresss], [phone], [email], [statuss]) VALUES (1, N'Bitis', N'22 Lý Chiêu Hoàng, Phường 10, Quận 6, TP. HCM', N'0946273998', N'bitis123@gmail.com', 1)
INSERT [dbo].[suppliers] ([supplier_id], [supplier_name], [addresss], [phone], [email], [statuss]) VALUES (2, N'Juno', N'313 Nguyễn Thị Thập, Phường Tân Phú, Quận 7, TP. HCM', N'0956483958', N'cskh@juno.vn', 1)
INSERT [dbo].[suppliers] ([supplier_id], [supplier_name], [addresss], [phone], [email], [statuss]) VALUES (3, N'VinaGiay', N'180 - 182 Lý Chính Thắng, Quận 3, TP. HCM', N'0957684938', N'cskh@vinagiay.vn', 1)
SET IDENTITY_INSERT [dbo].[suppliers] OFF
GO
/****** Object:  Index [uc_product_variant]    Script Date: 04/08/2023 10:35:10 SA ******/
ALTER TABLE [dbo].[product_variants] ADD  CONSTRAINT [uc_product_variant] UNIQUE NONCLUSTERED 
(
	[product_id] ASC,
	[size_id] ASC,
	[color_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[brands] ADD  CONSTRAINT [DF__brands__brand_ac__24927208]  DEFAULT ((0)) FOR [brand_activities]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF__categorie__categ__276EDEB3]  DEFAULT ((0)) FOR [category_activities]
GO
ALTER TABLE [dbo].[colors] ADD  CONSTRAINT [DF__colors__color_ac__2A4B4B5E]  DEFAULT ((0)) FOR [color_activities]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT (NULL) FOR [admin_reply]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT (NULL) FOR [date_reply]
GO
ALTER TABLE [dbo].[comments] ADD  DEFAULT ((1)) FOR [hidden]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF__products__produc__300424B4]  DEFAULT ((0)) FOR [product_type]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF__products__produc__30F848ED]  DEFAULT ((0)) FOR [product_activities]
GO
ALTER TABLE [dbo].[sizes] ADD  DEFAULT ((0)) FOR [size_activities]
GO
ALTER TABLE [dbo].[suppliers] ADD  DEFAULT ((0)) FOR [statuss]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [fk_cart] FOREIGN KEY([cart_id])
REFERENCES [dbo].[carts] ([cart_id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [fk_cart]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [fk_variantss] FOREIGN KEY([variant_id])
REFERENCES [dbo].[product_variants] ([variant_id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [fk_variantss]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [fk_orderss] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [fk_orderss]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [fk_customer_comment] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [fk_customer_comment]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [fk_employee_comment] FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([employee_id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [fk_employee_comment]
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD  CONSTRAINT [fk_product_comment] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[comments] CHECK CONSTRAINT [fk_product_comment]
GO
ALTER TABLE [dbo].[favorites]  WITH CHECK ADD  CONSTRAINT [fk_customer_favorite] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[favorites] CHECK CONSTRAINT [fk_customer_favorite]
GO
ALTER TABLE [dbo].[favorites]  WITH CHECK ADD  CONSTRAINT [fk_product_favorite] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[favorites] CHECK CONSTRAINT [fk_product_favorite]
GO
ALTER TABLE [dbo].[orderdetails]  WITH CHECK ADD  CONSTRAINT [fk_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[orderdetails] CHECK CONSTRAINT [fk_order]
GO
ALTER TABLE [dbo].[orderdetails]  WITH CHECK ADD  CONSTRAINT [fk_variant] FOREIGN KEY([variant_id])
REFERENCES [dbo].[product_variants] ([variant_id])
GO
ALTER TABLE [dbo].[orderdetails] CHECK CONSTRAINT [fk_variant]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [fk_receiver] FOREIGN KEY([receiver_id])
REFERENCES [dbo].[receivers] ([receiver_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [fk_receiver]
GO
ALTER TABLE [dbo].[product_variants]  WITH CHECK ADD  CONSTRAINT [fk_color] FOREIGN KEY([color_id])
REFERENCES [dbo].[colors] ([color_id])
GO
ALTER TABLE [dbo].[product_variants] CHECK CONSTRAINT [fk_color]
GO
ALTER TABLE [dbo].[product_variants]  WITH CHECK ADD  CONSTRAINT [fk_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[product_variants] CHECK CONSTRAINT [fk_product]
GO
ALTER TABLE [dbo].[product_variants]  WITH CHECK ADD  CONSTRAINT [fk_size] FOREIGN KEY([size_id])
REFERENCES [dbo].[sizes] ([size_id])
GO
ALTER TABLE [dbo].[product_variants] CHECK CONSTRAINT [fk_size]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [fk_brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands] ([brand_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [fk_brand]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [fk_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [fk_category]
GO
ALTER TABLE [dbo].[promotions_products]  WITH CHECK ADD  CONSTRAINT [fk_product_promotion] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[promotions_products] CHECK CONSTRAINT [fk_product_promotion]
GO
ALTER TABLE [dbo].[promotions_products]  WITH CHECK ADD  CONSTRAINT [fk_promotion] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[promotions] ([promotion_id])
GO
ALTER TABLE [dbo].[promotions_products] CHECK CONSTRAINT [fk_promotion]
GO
ALTER TABLE [dbo].[receivers]  WITH CHECK ADD  CONSTRAINT [fk_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[receivers] CHECK CONSTRAINT [fk_customer]
GO
ALTER TABLE [dbo].[supplier_products]  WITH CHECK ADD  CONSTRAINT [fk_product_supplier] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[supplier_products] CHECK CONSTRAINT [fk_product_supplier]
GO
ALTER TABLE [dbo].[supplier_products]  WITH CHECK ADD  CONSTRAINT [fk_supplier] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([supplier_id])
GO
ALTER TABLE [dbo].[supplier_products] CHECK CONSTRAINT [fk_supplier]
GO
USE [master]
GO
