<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" > <!-- th:fragment="dynamic(view_admin)" -->

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" th:href="@{/assets/css/admin_css.css}" />
    <link th:href="@{/assets/css/mycss.css}" rel="stylesheet" />
    <link th:href="@{/assets/font/themify-icons/themify-icons.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CONVERSE - ADMIN</title>
</head>

<body ng-app="admin-app">
           <!-- top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

        <div class="container-fluid">
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#sidebar">
                <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
            </button>
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar"
                aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
            </button> -->
            <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="#"><img src="/assets/images/logo.png"
                    alt="logo" style="margin-left: 25px;"></a>
        </div>
    </nav>
    <!-- top navigation bar -->
    <!-- MENU đứng bắt đầu -->
    <div class="offcanvas offcanvas-start sidebar-nav bg-dark" tabindex="-1" id="sidebar">
        <div class="offcanvas-body p-0">
            <nav class="navbar-dark">
                <ul class="navbar-nav">
                    <a class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold" href="#"><img class="img-logo"
                            src="/assets/images/logo.png" alt="logo"></a>
                    <li class="my-4">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    <li>
                        <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                            Quản lý
                        </div>
                    </li>
                    <!-- Quản lý người dùng bắt đầu  -->
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#nguoidung">
                            <span class="me-2"><i class="bi bi-person"></i></span>
                            <span th:text="#{nav.qlnguoidung}">Quản lý người dùng</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="nguoidung">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-person-circle"></i></span>
                                        <span th:text="#{nav.nguoidung}">Người dùng</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Quản lý người dùng kết thúc  -->

                    <!-- Quản lý nhà cung cấp bắt đầu  -->
                    <li>
                        <a href="#!admin_NhaCungCap" class="nav-link px-3">
                            <span class="me-2"><i class="bi bi-book-fill"></i></span>
                            <span th:text="#{nav.qlnhacungcap}">Quản lý nhà cung cấp</span>
                        </a>
                    </li>

                    <!-- Quản lý nhà cung cấp kết thúc  -->

                    <!-- Quản lý khuyến mãi bắt đầu  -->
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#khuyenmai">
                            <span class="me-2"><i class="bi bi-window"></i></span>
                            <span th:text="#{nav.qlkhuyenmai}">Quản lý khuyến mãi</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="khuyenmai">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#!admin_KhuyenMai" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-window-sidebar"></i></span>
                                        <span th:text="#{nav.khuyenmai}">Khuyến mãi</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!-- Quản lý khuyến mãi kết thúc  -->

                    <!-- Quản lý sản phẩm bắt đầu  -->
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#sanpham">
                            <span class="me-2"><i class="bi bi-menu-button-wide-fill"></i></span>
                            <span th:text="#{nav.qlsanpham}">Quản lý sản phẩm</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="sanpham">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#!admin_danhmuc" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-menu-button-fill"></i></span>
                                        <span th:text="#{nav.danhmuc}">Danh mục sản phẩm</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#!admin_thuonghieu" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-menu-button-fill"></i></span>
                                        <span th:text="#{nav.thuonghieu}">Thương hiệu sản phẩm</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#!admin_mau" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-menu-button-fill"></i></span>
                                        <span th:text="#{nav.mausp}">Màu sản phẩm</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#!admin_size" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-menu-button-fill"></i></span>
                                        <span th:text="#{nav.sizesp}">Size sản phẩm</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#!admin_sanpham" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-menu-app-fill"></i></span>
                                        <span th:text="#{nav.sanpham}">Sản phẩm</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#!admin_sanphamCT" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-menu-app"></i></span>
                                        <span th:text="#{nav.spchitiet}">Sản phẩm chi tiết</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Quản lý sản phẩm kết thúc  -->

                    <!-- Quản lý đơn hàng bắt đầu  -->
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#donhang">
                            <span class="me-2"><i class="bi bi-bag-fill"></i></span>
                            <span th:text="#{nav.qldonhang}">Quản lý đơn hàng</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="donhang">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a th:href="@{/donhang}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-bag"></i></span>
                                        <span th:text="#{nav.donhang}">Đơn hàng</span>
                                    </a>
                                </li>
                                <li>
                                    <a th:href="@{/donhang}" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-bag-check"></i></span>
                                        <span th:text="#{nav.donhangdagiao}">Đơn hàng đã giao</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!-- Quản lý đơn hàng kết thúc  -->
                    
                    <!-- Quản lý bình luận bắt đầu  -->
                    <li>
                        <a href="#!admin_binhluan" class="nav-link px-3">
                            <span class="me-2"><i class="bi bi-book-fill"></i></span>
                            <span th:text="#{nav.qlbinhluan}">Quản lý bình luận</span>
                        </a>
                    </li>

                    <!-- Quản lý bình luận kết thúc  -->

                    <li class="my-4">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                    <!-- Quản lý tài khoản bắt đầu  -->
                    <li>
                        <div class="text-muted small fw-bold text-uppercase px-3 mb-3" th:text="#{nav.qltaikhoan}">
                            Tài khoản
                        </div>
                    </li>
                    <li>
                        <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#taikhoan">
                            <span class="me-2"><i class="bi bi-bag-fill"></i></span>
                            <span>Xin chào Quang Minh</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div class="collapse" id="taikhoan">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-bag"></i></span>
                                        <span th:text="#{nav.doimk}">Đổi mật khẩu</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-bag-check"></i></span>
                                        <span th:text="#{nav.thongtincanhan}">Thông tin cá nhân</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- Quản lý tài khoản kết thúc  -->

                    <li class="my-4">
                        <hr class="dropdown-divider bg-light" />
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- MENU đứng kết thúc -->
       

        	<main class="ng-view mt-5"></main><!-- th:replace="${view_admin}" -->
	

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<script src="/assets/js/angular-route.js"></script>
	<script src="/assets/js/admin-app.js"></script>
	<script src="/assets/js/category-ctrl.js"></script>
	<script src="/assets/js/brand-ctrl.js"></script>
	<script src="/assets/js/product-ctrl.js"></script>
	<script src="/assets/js/variant-ctrl.js"></script>
	<script src="/assets/js/color-ctrl.js"></script>
	<script src="/assets/js/size-ctrl.js"></script>
	<script src="/assets/js/promotion-ctrl.js"></script>
    <script src="/assets/js/supplier-ctrl.js"></script>
	<script src="/assets/js/comment-ctrl.js"></script>
</body>

</html>