<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONVERSE || ĐĂNG NHẬP</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/assets/css/mycss.css">
    <link rel="stylesheet" href="/assets/font/themify-icons/themify-icons.css">

</head>
<style>
	.buttonGG {
  max-width: 500px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all .6s ease;
  margin: auto;
  margin-top: 3%;
}

.buttonGG svg {
  height: 24px;
}

.buttonGG:hover {
  transform: scale(1.02);
}


.buttonFB {
  display: flex;
  background-color: #039be5;
  background-image: linear-gradient(to top right, #0163E0,#18ACFE);
  text-transform: uppercase;
  color: #ffffff;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.75rem;
  border: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  cursor: pointer;
  transition: .6s ease;
  margin: auto;
  margin-top: 3%;
}

.buttonFB svg {
  height: 30px;
}

.buttonFB:hover {
  box-shadow: none;
}

</style>

<body>

    <!-- main login start -->
    <div id="mainLogin">
        <div class="container">
            <div class="row m-5 login1">

                <div class="col-md-6 login-form p-5">
                    <h2 class="text-center">[[#{ddangnhap.dangnhap}]]</h2>
                    <div th:if="${messageLoginFail}">
                    	<h5 class="text-danger text-center" th:text="${messageLoginFail}"></h5>
                    </div>
                    <div th:if="${#request.remoteUser}">
                    	<ul th:object=${#request.userPrincipal}>
	                    	<li>Username: <b>[[*{name}]]</b></li>
	                    	<li>Role:  <b> [[*{authorities}]]</b></li>
                    	</ul>
                    </div>
                    <form action="/auth/login" method="post" class="needs-validation" novalidate  >
                        <div class="mb-4 mt-3">
                            <label for="email">[[#{ddangnhap.email}]]</label>
                            <input type="email" class="form-control" id="email" placeholder="Nhập email" name="email"
                                required >
                            <div class="valid-feedback">Đã nhập gmail</div>
                            <div class="invalid-feedback">Vui lòng nhập gmail</div>
                        </div>

                        <div class="mb-4 mt-3">
                            <label for="pwd">[[#{ddangnhap.matkhau}]]</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="pass" placeholder="Nhập mật khẩu"
                                    name="pass" required  >
                                <a onclick="hidePass()" class="btn btn-cart"><i class="ti-eye"></i></a>
                                <div class="valid-feedback">Đã nhập mật khẩu</div>
                                <div class="invalid-feedback">Vui lòng nhập mật khẩu</div>
                            </div>

                        </div>
                        <div class="form1">

                            <div class="form-check mb-3">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="remember"  > [[#{ddangnhap.luutaikhoan}]]
                                </label>
                            </div>


                            <a href="./forgotpass.html">[[#{ddangnhap.quenmk}]]</a>

                        </div>
                        <button type="submit" class="btn btn-login">OK</button>
                        
                       <a class="buttonGG" href="/oauth2/authorization/google">
							  <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" viewBox="0 0 256 262">
							  <path fill="#4285F4" d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"></path>
							  <path fill="#34A853" d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"></path>
							  <path fill="#FBBC05" d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"></path>
							  <path fill="#EB4335" d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"></path>
							</svg>
							  [[#{ddangnhap.gg}]]
						</a>
						
						
						<a class="buttonFB" href="/oauth2/authorization/facebook">
							<svg stroke="#ffffff" xml:space="preserve" viewBox="-143 145 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" id="Layer_1" version="1.1" fill="#ffffff"><g stroke-width="0" id="SVGRepo_bgCarrier"></g><g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g><g id="SVGRepo_iconCarrier"> <path d="M329,145h-432c-22.1,0-40,17.9-40,40v432c0,22.1,17.9,40,40,40h432c22.1,0,40-17.9,40-40V185C369,162.9,351.1,145,329,145z M169.5,357.6l-2.9,38.3h-39.3v133H77.7v-133H51.2v-38.3h26.5v-25.7c0-11.3,0.3-28.8,8.5-39.7c8.7-11.5,20.6-19.3,41.1-19.3 c33.4,0,47.4,4.8,47.4,4.8l-6.6,39.2c0,0-11-3.2-21.3-3.2c-10.3,0-19.5,3.7-19.5,14v29.9H169.5z"></path> </g></svg>
							  [[#{ddangnhap.fb}]]
						</a>
                        
                        <h6 class="mt-4 text-center">[[#{ddangnhap.chuacotk}]] <a th:href="@{/dangky}">[[#{ddangnhap.dkngay}]]</a>
                        </h6>
                    </form>
                </div>
                <div class="col-md-6" style="padding: 0;">
                    <img style="    
                    object-fit: cover;
                    height: 700px;" src="/assets/images/banner5.png" alt="HinhAnh">
                </div>
            </div>
        </div>
    </div>
    <!-- main login end -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Danh mục sản phẩm bắt đầu -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous"></script>
    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 15,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 2
                },
                1000: {
                    items: 4
                }
            }
        })
    </script>
    <!-- Danh mục sản phẩm kết thúc -->

    <!-- backToTop start -->
    <script>
        let mybutton = document.getElementById("btn-back-to-top");
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
//         mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- backToTop end -->

    <!-- Showpass start -->
    <script>
        var click = true;
        var click1 = true;
        var click2 = true;
        function hidePass() {
            if (click) {
                document.getElementById('pass').type = "text";
                click = false;
            } else {
                document.getElementById('pass').type = "password";
                click = true;
            }

            if (click1) {
                document.getElementById('pass1').type = "text";
                click1 = false;
            } else {
                document.getElementById('pass1').type = "password";
                click1 = true;
            }

            if (click2) {
                document.getElementById('pass2').type = "text";
                click2 = false;
            } else {
                document.getElementById('pass2').type = "password";
                click2 = true;
            }

        } 
    </script>
    <!-- Showpass end -->

    <!-- Validation form start -->
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
    <!-- Validation form end -->

</body>

</html>