<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	 <div class="container col-9 mt-5 mb-5">
        <h3 class="text-center mt-5 mb-5">Đơn Hàng</h3>



        <table class="table table-striped text-center table-hover table-size fs-17">
            <thead>
                <tr style="font-size: 20px;">
                    <th>STT</th>
                    <th>MÃ ĐƠN</th>
                    <th>NGÀY ĐẶT</th>
                    <th>GIÁ</th>
                    <th>Trạng Thái</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each=" order,index: ${orders}">
                    <td>[[${index.index+1}]]</td>
                    <td>[[${order.orderId}]]</td>
                    <td>[[${order.orderdate}]]</td>
                    <td th:text="${#numbers.formatDecimal(order.total, 0, 'COMMA', 2 , 'POINT')} + ' ₫'"></td>
                    <td>[[${order.status}]]</td>
                    <td><a th:href="@{|/order/orderdetail/${order.orderId}|}" class="btn btn-primary" >Chit tiết</a>
                       </td>
                </tr>

            </tbody>
        </table>

    </div>
</body>
</html>