<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout::dynamic(~{::body})}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONVERSE || THÔNG TIN</title>
</head>

<body>
    <!-- main about start -->
    <div id="mainAbout">
        <div class="container">
            <img src="/assets/images/slideShow1.jpg" alt="" />
            <div class="about-title">
                <h1>Chào bạn, chúng tôi là CONVERSE!</h1>
                <p class="sub-title">Hân hạnh được phục vụ bạn</p>
                <p class="sub-content">
                    Chúng tôi biến sản phẩm phụ kiện không thể thiếu trở thành
                    những biểu tượng tinh thần đầy cảm hứng, để thúc đẩy thế hệ
                    trẻ Việt Nam không ngừng tiến lên phía trước.
                </p>
            </div>
        </div>

        <div class="container bg-light">
            <img src="/assets/images/WhyNot.png" class="w-100" alt="">
        </div>

        <section class="row">
            <div class="col-md-6 col1">
                <img src="/assets/images/why.dadbe7c5.png" alt="" />
            </div>
            <div class="col-md-6 col2">
                <p class="p-content content1">TẠI SAO KHÔNG?</p>
                <p class="p-content content2">
                    Đó là câu hỏi của chúng tôi khi bắt đầu.
                </p>
                <p class="p-content content3">
                    Và cũng là tinh thần "Why not" chúng tôi khát khao truyền tải
                </p>
                <p class="p-content content4">
                    Với những sản phẩm được thiết kế bằng nhiệt huyết, khát khao và khối
                    óc đầy sáng tạo của đội ngũ chính những người trẻ Việt Nam, chúng tôi
                    tin rằng tinh thần "Why not" ấy sẽ luôn đồng hành và truyền cảm hứng cho bạn mỗi ngày.
                </p>
            </div>
        </section>

        <section class="row about-value">
            <div class="col-md-4">
                <div class="about-core-img">
                    <img src="/assets/images/about-value2.png" alt="" />
                </div>
                <div class="about-core-name">
                    <p>Dám nghĩ, dám làm</p>
                </div>
                <div class="about-core-text">
                    <p>
                        Với khát khao trở thành người đồng hành của các bạn, chúng tôi
                        tin rằng chính mình phải có đủ can đảm để vượt qua thách thức, dám nghĩ,
                        dám dẫn đầu và khác biệt.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-core-img">
                    <img src="/assets/images/about-value1.png" alt="" />
                </div>
                <div class="about-core-name">
                    <p>Bắt đầu và kết thúc bằng khách hàng</p>
                </div>
                <div class="about-core-text">
                    <p>
                        Với tinh thần của những chiến binh, chúng tôi luôn chiến đấu với
                        chính bản thân mình mỗi ngày để đem lại những trải nghiệm “WOW” nhất cho người trẻ Việt Nam.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-core-img">
                    <img src="/<assets></assets>/images/about-value3.png" alt="" />
                </div>
                <div class="about-core-name">
                    <p>Truyền cảm hứng</p>
                </div>
                <div class="about-core-text">
                    <p>
                        Tương lai với chúng tôi là những sản phẩm vươn tầm thế giới,
                        là thế hệ trẻ Việt Nam đầy tự tin để theo đuổi đam mê của mình,
                        là "Why not?" trở thành triết lí của tất cả mọi người.
                    </p>
                </div>
            </div>
        </section>
        <div class="container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31354.43888426262!2d106.65230193501063!3d10.787946519123121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f7f6ba54ad9%3A0xb5747d155f1eab18!2sHoang%20Phuc%20International%20-%20708%2F710%20-%20CMT8!5e0!3m2!1svi!2s!4v1682611005574!5m2!1svi!2s"
                width="1300" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-floating btn-lg"
			id="btn-back-to-top">
			<i class="ti-angle-double-up"></i>
		</button>
    <!-- main about end -->
</body>

</html>