<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout::dynamic(~{::main})}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CONVERSE || CHI TIẾT SẢN PHẨM</title>
</head>

<body>
<div class="modal fade" id="errorModal1" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align: center;">
            <div class="modal-header" style="background-color: #00CC66; color: white;">
                <h5 class="modal-title" id="errorModalLabel"><b>Thông báo</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: green;">
                <b>{{ messageSuccess }}</b><br>
                <span style="font-size:50px"><i class="bi bi-check"></i></span>
                 <!-- Display the error message here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background: #00CC66">Đóng</button>
            </div>
        </div>
    </div>
</div>

	<main th:object="${productitem}">

		<!-- mainChitietsp start -->
		<div id="mainChitietsp">
			<div class="notifications" style="position: fixed;right: 10px; background-color: white; border-top: 2px solid rgb(6, 174, 54);@keyframes slide-in {
				from {
					
					transform: translateX(100%);
				}
				to {

					transform: translateX(0);
				}
			  }">
				<div class="alert" ng-if="showAlert"
					style="margin: 0; font-size: 20px;font-weight: bolder ; color: rgb(6, 174, 54);
					animation: slide-in 0.5s ease-out;">
					<i class="bi bi-check-circle-fill"></i> Item added to cart {{itemQuantity}} successfully!
				</div>
			</div>
			<div class="container-fluid">
				<div class="row m-4" th:object="${productitem}">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-3">
								<div class="pictur-demo">
									<img class="image-demo" th:src="@{|/assets/imageSP/*{productImage1}|}"
										alt="hinhanh">
									<img class="image-demo" th:src="@{|/assets/imageSP/*{productImage2}|}"
										alt="hinhanh">
									<img class="image-demo" th:src="@{|/assets/imageSP/*{productImage3}|}"
										alt="hinhanh">
								</div>
							</div>
							<div class="col-md-9">
								<div class="picture-main zoom">
									<img class="image-main" th:src="@{|/assets/imageSP/*{productImage1}|}"
										alt="hinhanh">
									<img class="image-main" th:src="@{|/assets/imageSP/*{productImage1}|}" id="imgZoom"
										alt="hinhanh">
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="picture-content">

							<h1 th:text="${productitem.productName}"></h1>
							<h2 th:unless="${promotions}" class="mt-4 mb-4">
								[[#{spchitiet.gia}]] <span class="card-title-normal" style="font-size: 30px;"
									th:text="${#numbers.formatDecimal(productitem.price, 0, 'COMMA', 0 , 'POINT')} + ' ₫'"></span>
							</h2>
							<h2 th:if="${promotions}" class="mt-4 mb-4">
								<span>[[#{spchitiet.gia}]]</span> <span class="card-title-old" style="font-size: 30px;"
									th:text="${#numbers.formatDecimal(productitem.price, 0, 'COMMA', 0 , 'POINT')} + ' ₫'"></span>
								<span class="card-title-sale" style="font-size: 30px;"
									th:text="${#numbers.formatDecimal(productitem.price*(1-promotions.discount/100), 0, 'COMMA', 0 , 'POINT')} + ' ₫'"></span>
							</h2>

							<p style="font-size: 25px">[[#{spchitiet.mota}]]
							<div class="description mb-4" th:text="${productitem.productDescription}"></div>
							</p>

							<form method="post">
								<div class="row mt-4 mb-4">
									<span class="col-md-3 size1">[[#{spchitiet.size}]]</span>
									<div class="col-md-9">
										<select ng-model="size" 
											class="form-select select-custom">
											<option value="" disabled selected>Vui lòng chọn size</option>
											<option th:each="s: ${sizsU}" th:value="${s.sizeID}"
												th:text="${s.sizeNumber}"></option>
										</select>
									</div>
								</div>

								<div class="row mt-4 mb-4">
									<span class="col-md-3 size1">[[#{spchitiet.mau}]]</span>
									<div class="col-md-9">
										<select ng-model="color" 
											class="form-select select-custom">
											<option value="" disabled selected>Vui lòng chọn màu</option>
											<option th:each="co: ${colsU}" th:value="${co.colorID}"
												th:text="${co.colorName}"></option>
										</select>
									</div>
								</div>

								<div class="row mt-4 mb-4">
									<span class="col-md-3 size1">[[#{spchitiet.soluong}]]</span>
									<div class="col-md-9">
										<input ng-value="1" ng-model="qty" type="number" class="form-control select-custom">
										
									</div>
								</div>


								<div class="mt-4 mb-4">
									<button type="submit" th:attr="ng-click=@{|favo.add(${productitem.productID})|}"
										class="btn product-btn icon position-relative yeuthich fs-4"><i
											class="ti-heart"></i> [[#{spchitiet.yeuthich}]]</button>

								</div>

								<div class="mt-4 mb-4">
									<a href="#" class="icon position-relative yeuthich fs-4" data-bs-toggle="modal"
										data-bs-target="#myModal"> <i class="ti-ruler-alt"></i>
										<span>[[#{spchitiet.bangsize}]]</span>
									</a>
								</div>

								<div class="mt-4 mb-4">
									<button type="submit"
										th:attr="ng-click=@{|addToCart(${productitem.productID},size,color,qty)|}"
										class="btn btn-themvaogio">[[#{spchitiet.cart}]]</button>
								</div>
							</form>
							<!-- The Modal Start-->
							<div class="modal fade" id="myModal">
								<div class="modal-dialog modal-xl">
									<div class="modal-content">

										<!-- Modal Header -->
										<div class="modal-header">
											<h4 class="modal-title">[[#{spchitiet.hdsize}]]</h4>
											<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
										</div>

										<!-- Modal body -->
										<div class="modal-body">
											<table class="table table-hover text-center table-size table-striped">
												<thead>
													<tr>
														<th>SIZE</th>
														<th>UK</th>
														<th>US</th>
														<th>EU</th>
														<th>JAPAN</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<th>XS</th>
														<th>6 - 8</th>
														<th>4</th>
														<th>34.5</th>
														<th>7</th>
													</tr>
													<tr>
														<th>S</th>
														<th>8 - 10</th>
														<th>6</th>
														<th>36.5</th>
														<th>9</th>
													</tr>
													<tr>
														<th>M</th>
														<th>10 - 12</th>
														<th>8</th>
														<th>38.5</th>
														<th>11</th>
													</tr>
													<tr>
														<th>L</th>
														<th>12 - 14</th>
														<th>10</th>
														<th>40</th>
														<th>13</th>
													</tr>
													<tr>
														<th>XL</th>
														<th>14 - 16</th>
														<th>12</th>
														<th>42</th>
														<th>15</th>
													</tr>
													<tr>
														<th>XXL</th>
														<th>16 - 28</th>
														<th>14</th>
														<th>44</th>
														<th>17</th>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<!-- The Modal End-->
						</div>
					</div>
				</div>
				<!--                 </form> -->

			<!-- form bình luận start -->
		<div class="container">
			<h4 class="title-bosuutap">BÌNH LUẬN</h4>
			<form action="/addComment" method="post">
				<div class="form-group mb-3">
				 <input type="hidden" name="productID" th:field="*{productID}">
                 <input type="hidden" name="customerId" th:value="1">
					<label for="comment">Nhập bình luận:</label>
					<textarea class="form-control" name="comment" id="comment"
						rows="3" required></textarea>
				</div>

		<!-- Hiển thị bình luận -->
			<div class="container mt-4">
				<h3>Bình luận</h3>
					<div class="media" th:each="comment : ${comments}"
						th:if="${comment.status == true}">
						<div class="border rounded p-3 mb-3 bg-white">
							<div class="media-body">
								<div th:text="${comment.createDate}" style="float: right;"></div>
								<img
									th:src="@{|/assets/images/userImages/${comment.customers.customerImage}|}"
									alt="User Avatar"
									style="height: 30px; width: 30px; float: left; margin-right: 5px">
								<h5 th:text="${comment.customers.customerName}"></h5>
								<h6 th:text="${comment.comment}"
									style="font-weight: 500; margin-left: 40px"></h6>
							</div>
							<div class="border rounded p-1"
								style="margin-left: 20px; background: #f7f7f7"
								th:if="${comment.employees != null and (comment.adminReply != null or comment.employees.employeeName == null)}">
								<div class="media-body">
									<div th:text="${comment.dateReply}" style="float: right;"></div>
									<img
										th:src="@{|/assets/images/adminImages/${comment.employees.employeeImage}|}"
										alt="Admin Avatar"
										style="height: 30px; width: 30px; float: left; margin-right: 5px">
									<h5 th:text="${comment.employees.employeeName}"
										th:if="${comment.adminReply != null}"></h5>
									<h6 th:text="${comment.adminReply}"
										style="font-weight: 500; margin-left: 40px"
										th:if="${comment.adminReply != null}"></h6>
								</div>
							</div>

						</div>
					</div>

				</div>

				<!-- form bình luận end -->

				<!-- sản phẩm tương tự start  -->

				<!-- sản phẩm tương tự start  -->

				<div class="sanphamtuongtu">
					<h4 class="title-bosuutap">[[#{spchitiet.sptuongtu}]]</h4>
					<div class="container-fluid my-5">
						<div class="row">
							<div class="col-12 m-auto">
								<div class="owl-carousel owl-theme">
									<!-- 		<ul> -->

									<div th:each="p:${productitem.categories.product}" class="item mb-4">
										<div class="card border-0 shadow">
											<a th:href="@{|/sanpham/chitietsp/${p.productID}|}"><img
													class="card-img-top"
													th:src="@{|/assets/imageSP/${p.productImage1}|}" alt="Card image"
													style="width:100%"></a>
											<div class="card-body">
												<a th:href="@{|/sanpham/chitietsp/${p.productID}|}">
													<h4 class="card-title text-center" th:text="${p.productName}"></h4>
													<div class="price-product">
														<div>
															<div
																th:unless="${p.promotionsProducts != null and p.promotionsProducts.size() > 0}">
																<h4 class="card-title">
																	<span class="card-title-normal"
																		th:text="${#numbers.formatDecimal(p.price, 0, 'COMMA', 0 , 'POINT')} + ' ₫'"></span>
																</h4>
																<h4 class="card-title" style="color: white;">123</h4>
															</div>
															<div
																th:if="${p.promotionsProducts != null and p.promotionsProducts.size() > 0}">
																<h4 class="card-title">
																	<span class="card-title-old"
																		th:each="promotionProduct : ${p.promotionsProducts}"
																		th:text="${#numbers.formatDecimal(promotionProduct.products.price, 0, 'COMMA', 0 , 'POINT')} + ' ₫'"></span>
																</h4>
																<h4 class="card-title">
																	<span class="card-title-sale"
																		th:each="promotionProduct : ${p.promotionsProducts}"
																		th:text="${#numbers.formatDecimal(promotionProduct.products.price*(1-promotionProduct.promotions.discount/100), 0, 'COMMA', 0 , 'POINT')}  + ' ₫'"></span>
																</h4>
															</div>
														</div>

													</div>
												</a>
												<div class="row d-flex justify-content-center">
													<a th:href="@{|/sanpham/chitietsp/${p.productID}|}"
														class="btn product-btn"><i class="ti-shopping-cart"></i>
														[[#{ssanpham.chitiet}]]</a>
													<a th:href="@{/yeuthich}" class="btn product-btn"><i
															class="ti-heart"></i> [[#{ssanpham.yeuthich}]]</a>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- sản phẩm tương tự end  -->
				<!-- sản phẩm tương tự end  -->

				<!-- mainChitietsp end -->
				<button type="button" class="btn btn-primary btn-floating btn-lg" id="btn-back-to-top">
					<i class="ti-angle-double-up"></i>
				</button>
	</main>

</body>
<!-- Thêm mã JavaScript sau trang hiển thị thông báo -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var successMessage = /*[[${successMessage}]]*/ '';
    if (successMessage) {
        alert(successMessage); // Hiển thị thông báo
        
        // Tự động chuyển hướng sau 5 giây
        setTimeout(function() {
            window.location.href = '/'; // Thay thế bằng đường dẫn cần chuyển hướng
        }, 5000); // 5000 milliseconds = 5 giây
    }
    /*]]>*/
</script>

</html>