<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout::dynamic(~{::body})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	  <div id="mainReceipt_Info">
        <div class="row " style="display: flex; justify-content: center;">
            <div class="card col-md-4 p-0" >
                <div class="card-header" >
                <h2 class="mb-0" style="padding: 2rem;">Thông tin mua hàng</h2></div>
                <div class="card-body">
                    <form action="">
                        <div class="row">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Họ Và Tên:</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Số Điện Thoại:</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
                            </div>
                            <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Địa Chỉ:</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>

                        </div>


                    </form>
                </div>
            </div>
            <div class="card col-md-4 " >
                
                <div class="card-body" >

                    <table class="table table-striped text-center table-hover table-size fs-17">
                        <thead>
                            <tr style="font-size: 20px;">
                                <th class="left">Sản Phẩm</th>
                                <th>Size</th>
                                <th>Số Lượng</th>
                                <th class="right"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="left">Converse Renew Canvas</td>
                                <td>38</td>
                                <td>1</td>
                                <td class="right">1.990.000đ</td>

                            </tr>
                            <tr>
                                <td class="left">Converse Renew Canvas</td>
                                <td>38</td>
                                <td>1</td>
                                <td class="right">1.990.000đ</td>

                            </tr>
                            <tr>
                                <td class="left">Converse Renew Canvas</td>
                                <td>38</td>
                                <td>1</td>
                                <td class="right">1.990.000đ</td>

                            </tr>
                            <tr>
                                <td class="left">Converse Renew Canvas</td>
                                <td>38</td>
                                <td>1</td>
                                <td class="right">1.990.000đ</td>
                            </tr>


                        </tbody>
                        <thead>
                            <tr style="font-size: 20px;">
                                <th class="left">Tạm Tính:</th>
                                <th></th>
                                <th></th>
                                <th class="right">7.960.000đ</th>

                            </tr>
                            <tr style="font-size: 30px;">
                                <th class="left">Tổng Tiền:</th>
                                <th></th>
                                <th></th>
                                <th class="right">7.960.000đ</th>

                            </tr>
                        </thead>
                        
                    </table>
                    
                    <div class="back" style="padding: 10%;">
                        
                        <div class="form-check">
                            <input style="scale: 1.5;" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label style="font-size: 1rem;font-weight: bolder;" class="form-check-label" for="flexRadioDefault2">
                             Thanh toán tiền mặt
                            </label>
                          </div>
                            <button class="btn btn-success"
                                style="width: 100%;height: 4rem; font-size: 20px; font-weight: bold; color: white;">Đặt hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
</body>
</html>