<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout::dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CONVERSE || TRANG CHỦ</title>
</head>
<body>
	<main>
		<!-- Main content area -->
		<div id="mainIndex">
			<h4 class="title-bosuutap" th:text="#{home.bosuutap}"></h4>
			<!-- Carousel START -->
			<div class="slider">

				<div id="demo" class="carousel slide" data-bs-ride="carousel">

					<!-- Indicators/dots -->
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#demo" data-bs-slide-to="0"
							class="active"></button>
						<button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
					</div>

					<!-- The slideshow/carousel -->
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="/assets/images/slideShow1.jpg" alt="Los Angeles"
								width="100%" height="600px" class="d-block">
							<div class="carousel-caption">
								<div class="row">
									<div th:text="#{home.slide1}"
										class="col-sm-4 carousel-content-green">GIẢM ĐẾN 70%</div>
									<div th:text="#{home.slide11}"
										class="col-sm-8 carousel-content">SALE LÊN ĐẾN 70% CÁC
										MẪU VANS SIÊU HOT</div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<img src="/assets/images/slideShow2.jpg" alt="Chicago"
								width="100%" height="600px" class="d-block">
							<div class="carousel-caption">
								<div class="row">
									<div th:text="#{home.slide2}" class="col-sm-8 carousel-content">
									</div>
									<div th:text="#{home.slide22}"
										class="col-sm-4 carousel-content-green"></div>
								</div>
							</div>
						</div>
					</div>

					<!-- Left and right controls/icons -->
					<button class="carousel-control-prev" type="button"
						data-bs-target="#demo" data-bs-slide="prev">
						<span class="carousel-control-prev-icon"></span>
					</button>
					<button class="carousel-control-next" type="button"
						data-bs-target="#demo" data-bs-slide="next">
						<span class="carousel-control-next-icon"></span>
					</button>
				</div>
			</div>
			<!-- Carousel END -->

			<!-- DANH MỤC SẢN PHẨM START -->
			<div id="category">
				<h4 class="title-bosuutap" th:text="#{home.danhmuc}"></h4>
				<div class="container-fluid my-5">
					<div class="row">
						<div class="col-12 m-auto">
							<div class="owl-carousel owl-theme">
								<div th:each="c: ${catesU}" class="item mb-4">
									<div class="card border-0 shadow">
										<a th:href="@{|/sanpham?cid=${c.categoryID}|}"><img
											th:src="@{|/assets/imageSP/${c.categoryImage}|}" alt=""
											class="card-img-top" style="height: 300px;">
											<div class="card-body">
												<div class="card-title text-center">
													<h4 th:text="${c.categoryName}"></h4>
												</div>
											</div> </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- DANH MỤC SẢN PHẨM END -->
			<!-- TOP 10 START -->
			<div id="top-10">
				<h4 class="title-bosuutap" th:text="#{home.productsale}"></h4>
				<div class="container">
					<div class="row">

						<div class="col-12 m-auto">
							<div class="owl-carousel owl-theme">
								<div th:each="p: ${PromotionsProducts}">
									<div class="card" style="width: 100%">
										<a th:href="@{|/sanpham/chitietsp/${p.products.productID}|}"><img
											class="card-img-top"
											th:src="@{|/assets/imageSP/${p.products.productImage1}|}"
											alt="Card image" style="width: 100%"></a>
										<div class="card-body">
											<a th:href="@{|/sanpham/chitietsp/${p.products.productID}|}">
												<h4 class="card-title text-center"
													th:text="${p.products.productName}">Converse Renew
													Canvas</h4>
												<div class="price-product">
													<h4 class="card-title">
														<span class="card-title-old"
															th:text="${#numbers.formatDecimal(p.products.price, 0, 'COMMA', 0 , 'POINT')} + ' ₫'">1,990,000đ</span>
													</h4>
													<h4 class="card-title">
														<span class="card-title-sale"
															th:text="${#numbers.formatDecimal(p.products.price*(1-p.promotions.discount/100), 0, 'COMMA', 0 , 'POINT')} + ' ₫'">1,500,000đ</span>
													</h4>
												</div>
											</a>
											<div class="row d-flex justify-content-center">
												<a th:href="@{|/sanpham/chitietsp/${p.products.productID}|}"
													class="btn product-btn"><i class="ti-shopping-cart"></i>
													[[#{ssanpham.chitiet}]]</a>
												<button type="submit"
													th:attr="ng-click=@{|favo.add(${p.products.productID})|}"
													class="btn product-btn">
													<i class="ti-heart"></i> [[#{ssanpham.yeuthich}]]
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- TOP 10 END -->

			<!-- Thương hiệu START -->
			<div id="category">
				<h4 class="title-bosuutap" th:text="#{home.brand}">THƯƠNG HIỆU</h4>
				<div class="container my-5">
					<div class="row">
						<div class="col-12 m-auto">
							<div class="owl-carousel owl-theme">
								<div th:each="b: ${bransU}" class="item mb-4">
									<div class="card border-0 shadow"
										style="border-radius: 50%; width: 61%;">
										<a th:href="@{|/sanpham?bid=${b.brandID}|}"><img
											th:src="@{|/assets/imageSP/${b.brandImage}|}" alt=""
											class="card-img-top"
											style="height: 100px; border-radius: 50%;">
											<div class="card-body">
												<div class="card-title text-center">
													<h4 th:text="${b.brandName}"></h4>
												</div>
											</div> </a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- THƯƠNG HIỆU PHẨM END -->

			<div class="container-fluid">
				<div id="content">
					<div class="row">
						<div class="col-md-3">
							<div class="content-body">
								<img src="/assets/images/banner1.png"
									style="margin-left: 34%; padding: 20px 10px;" alt="">

								<h5 th:text="#{home.sub1}">CAM KẾT CHỈ BÁN GIÀY CONVERSE
									CHÍNH HÃNG</h5>
								<p th:text="#{home.sub11}">bạn có thể liên hệ của hàng check
									code thoải mái trước khi mua sản phẩm</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="content-body">
								<img src="/assets/images/banner2.png"
									style="margin-left: 34%; padding: 20px 10px;" alt="">

								<h5 th:text="#{home.sub2}">BẢO HÀNH GIÀY 3 THÁNG</h5>
								<p th:text="#{home.sub22}">để bạn yên tâm sử dụng. Bạn đọc
									kỹ điều khoản</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="content-body">
								<img src="/assets/images/banner3.png"
									style="margin-left: 34%; padding: 20px 10px;" alt="">

								<h5 th:text="#{home.sub3}">ĐỔI TRẢ TRONG VÒNG 3 NGÀY</h5>
								<p th:text="#{home.sub33}">Đổi trả sản phẩm linh hoạt.Nhưng
									Bạn hãy đọc kỹ điều khoản</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="content-body">
								<img src="/assets/images/banner4.png"
									style="margin-left: 34%; padding: 20px 10px;" alt="">

								<h5 th:text="#{home.sub4}">SHIP HÀNG TOÀN QUỐC QUA NHIỀU
									KÊNH</h5>
								<p th:text="#{home.sub44}">Linh hoạt cho bạn nhận hàng có
									thể thanh toán COD hoặc chuyển khoản</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-primary btn-floating btn-lg"
			id="btn-back-to-top">
			<i class="ti-angle-double-up"></i>
		</button>
	</main>
</body>
</html>