<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout_admin::dynamic(~{::body})}">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CONVERSE - Thông tin cá nhân</title>
</head>
<body style="background-color: rgb(238, 238, 238);">
<!-- main content start  -->
    <main id="#main-order">
        <div class="container-fluid">
            <div class="row" style="background-color: white; box-shadow: 10px 10px 25px grey; ">
                <div class="col-md-12">
                    <h4 style="padding: 2rem 0;">Quản Lý Nhà Cung Cấp</h4>
                </div>
            </div>
            <div class="row article " style="display: flex; justify-content: center;">
                <div class="col-md-11 mt-5"
                    style="background-color: white; box-shadow: 10px 10px 25px grey;padding: 0; ">
                    <div class="card">
                        <div class="card-header"
                            style="font-weight: bolder; font-size: larger; color: rgb(25, 31, 32);">
                            Form Nhà Cung Cấp
                        </div>
                        <div class="card-body">
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInput1" class="form-label" style="font-size: 18px"><b>Tên Nhà Cung Cấp</b></label>
                                        <input type="text" class="form-control" ng-model="form.supplierName"
                                            placeholder="">
                                        
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInput1" class="form-label" style="font-size: 18px"><b>Email</b></label>
                                        <input type="text" class="form-control" ng-model="form.email"
                                            placeholder="">
                                        
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInput1" class="form-label" style="font-size: 18px"><b>Số Điện Thoại</b></label>
                                        <input type="text" class="form-control" ng-model="form.phone"
                                            placeholder="">
                                        
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInput1" class="form-label" style="font-size: 18px"><b>Địa Chỉ</b></label>
                                        <input type="text" class="form-control" ng-model="form.addresss"
                                            placeholder="">
                                    
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label style="font-size: 18px"><b>Trạng Thái</b></label>
                                        <br><input type="radio" name="status" ng-model="form.statuss" ng-value="true">  <b>Enabled</b>
                                        <input type="radio" name="status" ng-model="form.statuss" ng-value="false"><b>Disabled</b>
                                    
                                    </div>
									<div>
								</div>
                                </div>

								<!-- <div class="alert alert-success" th:if="${saveS}"> <h3 th:text="${saveS}"></h3> </div> -->
								
                                <button type="submit" ng-click="create()" class="btn btn-primary"><i class="bi bi-save2"></i> Thêm</button>
                                <button class="btn btn-success" ng-click="update()"><i class="bi bi-card-list"></i>
                                    Sửa</button>
                                <a type="button" class="btn btn-danger" ng-click="delete(item)"><i class="bi bi-trash"></i> Xóa</a>
                                <button ng-click="reset()" class="btn btn-info"><i class="bi bi-arrow-clockwise"></i> Làm
                                    mới</button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row article " style="display: flex; justify-content: center;">
                <div class="col-md-11 mt-5" style="background-color: white; box-shadow: 10px 10px 25px grey; padding: 0;">
                    <div class="card">
                        <div class="card-header"
                            style="font-weight: bolder; font-size: larger; color: rgb(25, 31, 32);">
                            Bảng Danh Sách
                        </div>
                        <div class="card-body">
                            <table class="table text-center table-hover table-size fs-17">

                                <thead>
                                    <tr style="font-size: 20px;">
                                        <th><a>Mã Nhà Cung Cấp</a></th>
                                        <th><a>Tên Nhà Cung Cấp</a></th>
                                        <th><a>Email</a></th>
                                        <th><a>Số Điện Thoại</a></th>
                                        <th><a>Địa Chỉ</a></th>
                                        <th><a>Trạng Thái</a></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in items">
                                        <td>{{item.supplierID}}</td>
                                        <td>{{item.supplierName}}</td>
                                        <td>{{item.email}}</td>
                                        <td>{{item.phone}}</td>
                                        <td>{{item.addresss}}</td>
                                        <td>{{item.statuss? 'Enabled':'Disabled'}}</td>
                                        <td>
                                			<a type="button"
												class="btn btn-success" ng-click="edit(item)">
												<i class="bi bi-card-list"></i> Sửa
											</a>
											<a type="button" class="btn btn-danger"  ng-click="delete(item)">
												<i class="bi bi-trash"></i> Xóa
											</a>
										</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer text-muted">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main content end  -->
</body>
</html>