<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout_admin::dynamic(~{::body})}">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>CONVERSE - Thông tin cá nhân</title>
</head>
<body style="background-color: rgb(238, 238, 238);" >
<!-- Modal for displaying error messages -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align: center;">
            <div class="modal-header" style="background-color: #FF6666; color: white;">
                <h5 class="modal-title" id="errorModalLabel"><b>Lỗi</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: red">
                <b>{{ errorMessage }}</b><br>
                <span style="font-size: 30px"><i class="bi bi-exclamation-triangle"></i></span>
                 <!-- Display the error message here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background: #FF6666">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for displaying error messages -->
<div class="modal fade" id="errorModal1" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align: center;">
            <div class="modal-header" style="background-color: #00CC66; color: white;">
                <h5 class="modal-title" id="errorModalLabel"><b>Thông báo</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: green;">
                <b>{{ messageSuccess }}</b><br>
                <span style="font-size:50px"><i class="bi bi-check"></i></span>
                 <!-- Display the error message here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background: #00CC66">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- main content start  -->
    <main id="#main-order">
        <div class="container-fluid">
            <div class="row" style="background-color: white; box-shadow: 10px 10px 25px grey; ">
                <div class="col-md-12">
                    <h4 style="padding: 2rem 0;">Quản Lý Nhà Cung Cấp</h4>
                </div>
            </div>
            <div class="row article " style="display: flex; justify-content: center;">
                <div class="col-md-11 mt-5"
                    style="background-color: white; box-shadow: 10px 10px 25px grey;padding: 0; ">
                    <div class="card">
                        <div class="card-header"
                            style="font-weight: bolder; font-size: larger; color: rgb(25, 31, 32);">
                            Form Nhà Cung Cấp
                        </div> 
                 		<form name="myForm" novalidate>
                 			<div class="card-body">
                                <div class="row">
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInput1" class="form-label" style="font-size: 18px"><b>Tên Nhà Cung Cấp</b></label>
                                        <input type="text" class="form-control" ng-model="form.supplierName" name="form.supplierName" required
                                            placeholder="">
                                        
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInput1" class="form-label" style="font-size: 18px"><b>Email</b></label>
                                        <input type="text" class="form-control" ng-model="form.email"
                                            placeholder="">
                                        
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInput1" class="form-label" style="font-size: 18px"><b>Số Điện Thoại</b></label>
                                        <input type="text" class="form-control" ng-model="form.phone"
                                            placeholder="">
                                        
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label for="exampleFormControlInput1" class="form-label" style="font-size: 18px"><b>Địa Chỉ</b></label>
                                        <input type="text" class="form-control" ng-model="form.addresss"
                                            placeholder="">
                                    
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label style="font-size: 18px"><b>Trạng Thái</b></label>
                                        <br><input type="radio" name="status" ng-model="form.statuss" ng-value="true">  <b>Hoạt Động</b>
                                        <input type="radio" name="status" ng-model="form.statuss" ng-value="false">    <b>Không Hoạt Động</b>
                                    
                                    </div>
									<div>
								</div>
                                </div>

								<!-- <div class="alert alert-success" th:if="${saveS}"> <h3 th:text="${saveS}"></h3> </div> -->
								
                                <button type="submit" ng-click="create()" ng-disabled="form.$invalid" class="btn btn-primary"><i class="bi bi-save2"></i> Thêm</button>

                                <button class="btn btn-success" ng-click="update()"><i class="bi bi-card-list"></i>
                                    Sửa</button>
                                <a type="button" class="btn btn-danger" ng-click="delete(item)"><i class="bi bi-trash"></i> Xóa</a>
                                <button ng-click="reset()" class="btn btn-info"><i class="bi bi-arrow-clockwise"></i> Làm
                                    mới</button>
                        </div>
                 		</form>
                        
                        

                    </div>
                </div>
            </div>

            <div class="row article " style="display: flex; justify-content: center;">
                <div class="col-md-11 mt-5" style="background-color: white; box-shadow: 10px 10px 25px grey; padding: 0;">
                    <div class="card">
                        <div class="card-header"
                            style="font-weight: bolder; font-size: larger; color: rgb(25, 31, 32);">
                            Bảng Danh Sách
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="statusFilter" class="form-label fs-17">Trạng
                                            thái</label> <select ng-model="statusFilter"
                                            id="statusFilter" class="form-select">
                                            <option value="">Tất cả</option>
                                            <option value="approved">Hoạt Động</option>
                                            <option value="pending">Không Hoạt Động</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="sortColumn" class="form-label fs-17">Sắp
                                            xếp theo cột:</label> <select ng-model="sortColumn" id="sortColumn"
                                            class="form-select">
                                            <option value="supplierID">Mã nhà cung cấp</option>
                                            <option value="supplierName">Tên nhà cung cấp</option>
                                            <option value="addresss">Email</option>
                                            <option value="phone">Số điện thoại</option>
                                            <option value="email">Địa chỉ</option>
                                        </select>
                                    </div>
    
                                    <div class="col-md-4">
                                    <label for="supSearch" class="form-label fs-17">Tìm kiếm tên nhà cung cấp:</label>
                                        <input ng-model="searchKeyword" type="text" class="form-control" ng-keypress="handleKeyPress($event)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table text-center table-hover table-size fs-17">

                                <thead>
                                    <tr style="font-size: 20px;">
                                        <th><a>Mã Nhà Cung Cấp</a></th>
                                        <th><a>Tên Nhà Cung Cấp</a></th>
                                        <th><a>Email</a></th>
                                        <th><a>Số Điện Thoại</a></th>
                                        <th><a>Địa Chỉ</a></th>
                                        <th><a>Trạng Thái</a></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in pager.items | orderBy:sortColumn" ng-show="filterStatus(item)">
                                        <td>{{item.supplierID}}</td>
                                        <td>{{item.supplierName}}</td>
                                        <td>{{item.email}}</td>
                                        <td>{{item.phone}}</td>
                                        <td>{{item.addresss}}</td>
                                        <td>{{item.statuss? 'Hoạt Động':'Không Hoạt Động'}}</td>
                                        <td>
                                			<a type="button"
												class="btn btn-success" ng-click="edit(item)">
												<i class="bi bi-card-list"></i> Sửa
											</a>
											<a type="button" class="btn btn-danger"  ng-click="delete(item)">
												<i class="bi bi-trash"></i> Xóa
											</a>
										</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul class="pagination">
								<li class="page-item"><button ng-click="pager.first()" class="page-link">First</button></li>
								<li class="page-item"><button ng-click="pager.prev()" class="page-link">Pre</button></li>
								<li class="page-item"><button class="page-link">{{pager.page + 1}} of {{pager.count}}</button></li>
								<li class="page-item"><button ng-click="pager.next()" class="page-link">Next</button></li>
								<li class="page-item"><button ng-click="pager.last()" class="page-link">Last</button></li>
							</ul>
                        </div>
                        <div class="card-footer text-muted">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main content end  -->
</body>
</html>