<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout_admin::dynamic(~{::body})}">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link th:href="@{/font/themify-icons/themify-icons.css}" rel="stylesheet" />
    <title>CONVERSE - Thông tin cá nhân</title>
</head>
<body style="background-color: rgb(238, 238, 238);">
<!-- Modal for displaying error messages -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align: center;">
            <div class="modal-header" style="background-color: #FF6666; color: white;">
                <h5 class="modal-title" id="errorModalLabel"><b>Lỗi</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: red">
                <b>{{ errorMessage }}</b><br>
                <span style="font-size: 30px"><i class="bi bi-exclamation-triangle"></i></span>
                 <!-- Display the error message here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background: #FF6666">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for displaying error messages -->
<div class="modal fade" id="errorModal1" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align: center;">
            <div class="modal-header" style="background-color: #00CC66; color: white;">
                <h5 class="modal-title" id="errorModalLabel"><b>Thông báo</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: green;">
                <b>{{ messageSuccess }}</b><br>
                <span style="font-size:50px"><i class="bi bi-check"></i></span>
                 <!-- Display the error message here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background: #00CC66">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- main content start  -->
    <main id="#main-order">
        <div class="container-fluid">
            <div class="row" style="background-color: white; box-shadow: 10px 10px 25px grey; ">
                <div class="col-md-12">
                    <h4 style="padding: 2rem 0;">Quản lý sản phẩm - Sản phẩm chi tiết</h4>
                </div>
            </div>
            <div class="row article " style="display: flex; justify-content: center;">
                <div class="col-md-11 mt-5"
                    style="background-color: white; box-shadow: 10px 10px 25px grey;padding: 0; ">
                    <div class="card">
                        <div class="card-header"
                            style="font-weight: bolder; font-size: larger; color: rgb(25, 31, 32);">
                            Form Sản Phẩm Chi Tiết
                        </div>
                        <div class="card-body">
                            <form action="">
                                <div class="row">
                                    <div class="mb-3 col-md-12">
                                        <label for="masanpham" class="form-label fs-17">Mã sản phẩm chi tiết:</label>
                                        <input ng-model="form.variantID" type="text" class="form-control" id="masanpham" readonly="true">
                                    </div>

                                        <div class="mb-3 col-md-4">
                                            <label for="madanhmcu" class="form-label fs-17">Tên sản phẩm:</label>
                                            <select ng-model="form.products.productID" class="form-select" aria-label="Default select example">
                                            <option value="" disabled selected>Vui lòng chọn sản phẩm</option>
                                                 <option ng-repeat="p in prods" ng-value="p.productID">{{p.productName}}</option>
                                            </select>
                                        </div>
                                        <div class="mb-3 col-md-4">
                                            <label for="manhacungcap" class="form-label fs-17">Size:</label>
                                            <select ng-model="form.sizes.sizeID" class="form-select" aria-label="Default select example">
                                            <option value="" disabled selected>Vui lòng chọn size</option>
                                                 <option ng-repeat="s in sizs" ng-value="s.sizeID">{{s.sizeNumber}}</option>
                                            </select>
                                        </div>
                                        <div class="mb-3 col-md-4">
                                            <label for="manhacungcap" class="form-label fs-17">Màu:</label>
                                            <select ng-model="form.colors.colorID" class="form-select" aria-label="Default select example">
                                            <option value="" disabled selected>Vui lòng chọn màu</option>
                                                 <option ng-repeat="co in cols" ng-value="co.colorID">{{co.colorName}}</option>
                                            </select>
                                        </div>
                                         <div class="mb-3 col-md-12">
                                            <label for="giassanpham" class="form-label fs-17">Số lượng:</label>
                                            <input ng-model="form.quantity" type="number" class="form-control" id="giassanpham" placeholder="">
                                        </div>
                                    
                                </div>

                                <button ng-click="create()" type="button" class="btn btn-primary"><i class="bi bi-save2"></i> Thêm</button>
                                <button ng-click="update()" type="button" class="btn btn-success"><i class="bi bi-card-list"></i> Sửa</button>
                                <button ng-click="delete(form)" type="button" class="btn btn-danger"><i class="bi bi-trash"></i> Xóa</button>
                                <button ng-click="reset()" type="button" class="btn btn-info"><i class="bi bi-arrow-clockwise"></i> Làm mới</button>

                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row article " style="display: flex; justify-content: center;">
                <div class="col-md-11 mt-5"
                    style="background-color: white; box-shadow: 10px 10px 25px grey; padding: 0;">
                    <div class="card">
                        <div class="card-header"
                            style="font-weight: bolder; font-size: larger; color: rgb(25, 31, 32);">
                            Bảng Danh Sách
                        </div>
                        <div class="card-body">
                            <table class="table text-center table-hover table-size fs-17">

                                <thead>
                                    <tr style="font-size: 15px;">
                                        <th>MÃ SẢN PHẨM CHI TIẾT</th>
                                        <th>TÊN SẢN PHẨM</th>
                                        <th>SIZE</th>
                                        <th>TÊN MÀU</th>
                                        <th>SỐ LƯỢNG</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="variantitem in pager.variantitems">
                                        <td>{{variantitem.variantID}}</td>
										<td>{{variantitem.products.productName}}</td>
                                        <td>{{variantitem.sizes.sizeNumber}}</td>
                                        <td>{{variantitem.colors.colorName}}</td>
                                        <td>{{variantitem.quantity}}</td>
                                        <td>
											<button ng-click="edit(variantitem)" type="button" class="btn btn-warning">Chọn</button>
											<button ng-click="delete(variantitem)" type="button" class="btn btn-danger">Xóa</button>
										</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul class="pagination">
								<li class="page-item"><button ng-click="pager.first()" class="page-link">First</button></li>
								<li class="page-item"><button ng-click="pager.prev()" class="page-link">Pre</button></li>
								<li class="page-item"><button class="page-link">{{pager.page + 1}} of {{pager.count}}</button></li>
								<li class="page-item"><button ng-click="pager.next()" class="page-link">Next</button></li>
								<li class="page-item"><button ng-click="pager.last()" class="page-link">Last</button></li>
							</ul>
                        </div>
                        <div class="card-footer text-muted">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main content end  -->

</body>
</html>