<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/layout_admin::dynamic(~{::body})}">
<head>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>CONVERSE - Thông tin cá nhân</title>
</head>
<body style="background-color: rgb(238, 238, 238);">
<!-- Modal for displaying error messages -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align: center;">
            <div class="modal-header" style="background-color: #FF6666; color: white;">
                <h5 class="modal-title" id="errorModalLabel"><b>Lỗi</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: red">
                <b>{{ errorMessage }}</b><br>
                <span style="font-size: 30px"><i class="bi bi-exclamation-triangle"></i></span>
                 <!-- Display the error message here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background: #FF6666">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for displaying error messages -->
<div class="modal fade" id="errorModal1" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="text-align: center;">
            <div class="modal-header" style="background-color: #00CC66; color: white;">
                <h5 class="modal-title" id="errorModalLabel"><b>Thông báo</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: green;">
                <b>{{ messageSuccess }}</b><br>
                <span style="font-size:50px"><i class="bi bi-check"></i></span>
                 <!-- Display the error message here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="background: #00CC66">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- main content start  -->
    <main id="#main-order">
        <div class="container-fluid">
            <div class="row" style="background-color: white; box-shadow: 10px 10px 25px grey; ">
                <div class="col-md-12">
                    <h4 style="padding: 2rem 0;">Quản lý sản phẩm - Size</h4>
                </div>
            </div>
            <div class="row article " style="display: flex; justify-content: center;">
                <div class="col-md-11 mt-5"
                    style="background-color: white; box-shadow: 10px 10px 25px grey;padding: 0; ">
                    <div class="card">
                        <div class="card-header"
                            style="font-weight: bolder; font-size: larger; color: rgb(25, 31, 32);">
                            Form Size
                        </div>
                        <div class="card-body">
                            <form action="">
                                <div class="row">
                                    <div class="mb-3 col-md-12">
                                        <label for="masize" class="form-label fs-17">Mã Size:</label>
                                        <input ng-model="form.sizeID" type="text" class="form-control" id="masize" readonly="true">
                                    </div>
                                    <div class="mb-3 col-md-12">
                                        <label for="sizeee" class="form-label fs-17">Size:</label>
                                        <input ng-model="form.sizeNumber" type="number" class="form-control" id="sizeee" placeholder="">
                                    </div>
                                    <label class="form-label fs-17">Trạng thái:</label> <br>
							                <div class="d-inline-flex">
							                    <div class="form-check mx-4">
							                        <input ng-model="form.sizeActivities" name="categoryActivities" type="radio"
														class="form-check-input" id="radio1" ng-value="true">
													<label class="form-check-label fs-17" for="radio1">Hoạt động</label>
							                    </div>
							                    <div class="form-check ">
							                        <input ng-model="form.categoryActivities" name="categoryActivities" type="radio"
														class="form-check-input" id="radio2" ng-value="false">
													<label class="form-check-label fs-17" for="radio2">Không hoạt động</label>
							                    </div>
							                    
							                </div>
                                </div>

                                <button ng-click="create()" type="button" class="btn btn-primary"><i class="bi bi-save2"></i> Thêm</button>
                                <button ng-click="update()" type="button" class="btn btn-success"><i class="bi bi-card-list"></i> Sửa</button>
                                <button ng-click="delete(form)" type="button" class="btn btn-danger"><i class="bi bi-trash"></i> Xóa</button>
                                <button ng-click="reset()" type="button" class="btn btn-info"><i class="bi bi-arrow-clockwise"></i> Làm mới</button>

                            </form>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row article " style="display: flex; justify-content: center;">
                <div class="col-md-11 mt-5"
                    style="background-color: white; box-shadow: 10px 10px 25px grey; padding: 0;">
                    <div class="card">
                        <div class="card-header"
                            style="font-weight: bolder; font-size: larger; color: rgb(25, 31, 32);">
                            Bảng Danh Sách
                            <!-- tìm kiếm theo tên bắt đầu  -->
								<span class="p-3">
                            <button class="icon  fs-4" style="color: black;" data-bs-toggle="offcanvas"
                                data-bs-target="#demo1">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </span>
                        <div class="offcanvas offcanvas-bottom" id="demo1">
                            <div class="offcanvas-header">
                                <h1 class="offcanvas-title" style="margin-left: 43%;">Tìm kiếm</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                            </div>
                            <div class="offcanvas-body">
                            
                                <div class="container input-group mb-3">
                                
                                    <input type="number" class="form-control" ng-model="searchKeyword"  placeholder="Bạn muốn tìm gì?">
                                    <button class="btn btn-success" ng-click="searchSizeByNumber()">OK</button>
                               
                                </div>
                           
                            </div>
                        </div>
<!-- 									tìm kiếm theo tên kết thúc -->
                        </div>
                        <div class="card-body">
                            <table class="table text-center table-hover table-size fs-17">

                                <thead>
                                    <tr style="font-size: 20px;">
                                        <th>MÃ SIZE</th>
                                        <th>SIZE</th>
                                        <th>TRẠNG THÁI</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="sizeitem in pager.sizeitems">
                                        <td>{{sizeitem.sizeID}}</td>
										<td>{{sizeitem.sizeNumber}}</td>
                                        <td>{{sizeitem.sizeActivities?'Hoạt động':'Không hoạt động'}}</td>
                                        <td>
											<button ng-click="edit(sizeitem)" type="button" class="btn btn-warning">Chọn</button>
											<button ng-click="delete(sizeitem)" type="button" class="btn btn-danger">Xóa</button>
										</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul class="pagination">
								<li class="page-item"><button ng-click="pager.first()" class="page-link">First</button></li>
								<li class="page-item"><button ng-click="pager.prev()" class="page-link">Pre</button></li>
								<li class="page-item"><button class="page-link">{{pager.page + 1}} of {{pager.count}}</button></li>
								<li class="page-item"><button ng-click="pager.next()" class="page-link">Next</button></li>
								<li class="page-item"><button ng-click="pager.last()" class="page-link">Last</button></li>
							</ul> 
                        </div>
                        <div class="card-footer text-muted">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main content end  -->
    
</body>
</html>